<!doctype html>
<html class="no-js " lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>Chat App</title>
    <base href="/">
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap Select Css -->
    <link href="assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
</head>

<body class="theme-blush">

    <div class="authentication">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="card auth_form">
                        <div class="header">
                            <img class="logo" src="favicon.png" alt="">
                            <h5>Join In</h5>
                            <span>Provide your chat info</span>
                        </div>
                        <div class="body">
                            <form name="joinChannelForm">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Username" name="username">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Fullname" name="fullname">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="zmdi zmdi-account"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <select class="selectpicker form-control" name="channel">
                                            <option value="">-- Select Channel --</option>
                                            <% for (let i = 0; i < channelsData.length; i++) { %>
                                            <option value="<%= channelsData[i]._id %>"><%= channelsData[i].name %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <button name="joinChannelBtn" class="btn btn-primary btn-block waves-effect waves-light">JOIN CHANNEL</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="card">
                        <img src="assets/images/signup.svg" alt="Sign Up" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery Core Js -->
    <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <!-- Lib Scripts Plugin Js -->
    <script src="assets/plugins/jquery-validation/jquery.validate.js"></script> <!-- Jquery Validation Plugin Css --> 
    <script src="assets/plugins/jquery-validation/additional-methods.min.js"></script> <!-- Jquery Validation Plugin Css --> 
    <!-- Custom script -->
    <script src="scripts/index.js"></script>
</body>

</html>